
ul{
  list-style: none;

}
.loginpage{
  display: flex;
  align-items: center;
  height:100% !important;

}
.loginbox{
  margin-top: 30vh;
  margin-left: 85vh;
padding: 20px;
 background-color: #999;
  width: 50vh;
  hight:40vh;
}
.btnn{
  margin-top: 10px;
}
.btnadd{
  margin-left: 10px;
  margin-top: 0;
}
.py-2{
  text-decoration: none;
  color: white;

}
.py-2:hover{
  color: #ccc;
  text-decoration: none;
}
.ladd{
  padding-left: 10px;
  padding-right: 5px;
}
.iid{
  width:20vh;
}
.iitem{
  width: 50vh;
}
.iqta{
  position: absolute;
  width:10vh;
  margin-left: 870px;
}
.aiqta{
  
  width:18vh;
  
}
.aiprice{
  
  width:20vh;
  
}
h1{
  text-align: center;
  color: white !important;
  border: solid white 3px;
  padding: 5px;
  width: 30%;
  margin-left: 80vh;
}
.liitem{
  
  color: aliceblue;
}
.slitem{
  position: absolute;
  margin-left: 170px;
  
}
.slqta{
  position: absolute;
  margin-left: 540px;
  
}
.slcount{
  position: absolute;
  margin-left: 0px;
}
.slid{
  position: absolute;
  margin-left: 42px;
  
}
.addremove{
  position: absolute;
  margin-left: 850px;
}
.ulselling > li:nth-child(odd){
  background-color: #fff;
}
.slprice{
  position: absolute;
  margin-left: 700px;
}
.tqprice{
  position: absolute;
  margin-left: 1070px;
}
.qtas{
  position: absolute;
  margin-left: 870px;
}
.slremove{
  position: absolute;
  margin-left: 1200px;
}
.btnsave{
  
  margin-left: 10px;
}
.tablehead > h5{
  color: #fff;
  float: left;
}
.thcount{
  position: absolute;
  margin-left: 7px;
}
.thid{
  position: absolute;
  margin-left: 80px;
}
.thitem{
  position: absolute;
  margin-left: 200px;
}
.thstockqta{
  position: absolute;
  margin-left: 550px;
}
.thqta{
  position: absolute;
  margin-left: 900px;
}
.thpriceone{
  position: absolute;
  margin-left: 700px;
}
.thprice{
  position: absolute;
  margin-left: 1100px;
}
.btnqta{
  position: absolute;
  margin-left: 940px;
}
.totalprice{
  position: absolute;
  margin-top: -20px;
  margin-left: 1080px;
  font-size: 25px;

  
  
  color: white;
  
}
.htotal{
  float: right;
  margin-top: 20px;
  margin-right: 300px;
  color : white;
}
.regbox{
  margin-left: 60vh;
  background-color: #999;
  width: 90vh;
  padding: 20px;
}
#flashnoitem{
  
  position: absolute;
  color: red;
  margin-left: 30px;
  padding-top: 0;
}
.logout{
  position:fixed;
  margin-left: 1185px;
  background: #999;
  padding: 5px 20px;
}
.flashlogin{
  color: red !important;
}
.registor{
  margin-left: 40px;
}
.removeuser{
  position: absolute;
  margin-left: 80%;
}
.mhemail{
  position: absolute;
  margin-left: 30%;
}
.mhphone{
  position: absolute;
  margin-left: 65%;
}
.mhusername{
  position: absolute;
  margin-left: 18%;
}
.mhaddress{
  position: absolute;
  margin-left: 50%;
}
.removeitem{
  position: absolute;
  margin-left: 60%;
}
.signup{
  position: fixed;
  margin-left: 1250px;
  margin-top:20px;
  
}
.msgreg{
  color: red !important;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px; 
}